.social{
	padding: 80px 80px;
	text-align: center;
	margin: 0;
	margin-top: 2px;
	background: #0000A0;

}


.btn{
	display: inline-block;
	text-align: center;
	width: 45px;
	height: 45px;
	background: #f1f1f1;
	margin: 5px;
    border-radius: 10px;
    box-shadow: 0 2px 10px -2px #808080;
    color: #3498db;
    overflow: hidden;
    position: relative;
}

.btn i{
	line-height: 45px;
	font-size: 20px;
	transform: 0.2s linear;
}

.btn:hover i{
	transform: scale(1.3);
	color: #f1f1f1;
}

.btn::before{
	content: "";
	position: absolute;
	width: 120%;
	height: 120%;
	background:#3498db;
	transform: rotate(45deg);
	left: -110%;
	top: 90%; 
}

.btn:hover::before{
	animation: aaa 0.7s 1;
	top: -10%;
	left: -10%;
}

@keyframes aaa {
	0%{
		left: -110%;
	top: 90%;
}
    50%{
    	left: 10%;
    top: -30%;	
}
    100%{
    	top: -10%;
	left: -10%;
}
        
               }

li{
	list-style: none;
}   

h6{
	font-size: 20px;
}            

h1{
	font-size: 45px;
}

h3{
	font-size: 15px;
	
}

img{
	margin: 25px;
}


body{
  width: 100%;
  height:100%;	
  color:#fff;
  background: linear-gradient(-45deg,#EE7752,#EE7752,#E73C7E,#E73C7E,#23A6D5,#23A6D5,#23D5AB,#23D5AB);
  position: relative;
  background-size: 400% 400%;
  animation: change 10s ease-in-out infinite;
   
}
@keyframes change{
  0%{
  	background-position: 0 50%;
  }
  50%{
  	background-position: 100% 50%;
  }
  100%{
  	background-position: 0 50%;
  }
}

.abcd{
	margin-top:200px;
	margin-left: 200px;
	display: flex;
}

.efg{
	margin-top:200px;
	margin-left: 200px;
	display: flex;
}

.yo{
	width: 500px;
	height: auto;
	margin-left: 80px;
	border:10px green;
	border-radius: 10px;
	box-shadow: 0 5px 20px -2px #000000;
	transition: 0.5s;
}

.yoyo{
	width: 500px;
	height: auto;
	margin-right: 70px;
	margin-left: -20px; 
	border:10px green;
	border-radius: 10px;
	box-shadow: 0 5px 20px -2px #000000;
	transition: 0.5s;
}

.logo img{
	float: left;
	width: 150px;
	height: auto;
    margin-top:1px;
}

nav{
	width: 100%;
	height: 50%;
	border-color: #0000ff;
	border-top:1px solid rgba(255,255,255,0.2);
	border-bottom: 1px solid rgba(255,255,255,0.2);
	position: sticky;
	top: 0px;
}

nav ul{
	display: flex;
	margin: 0;
	padding: 0 100px;
	float: right;
}

nav ul li{
	list-style: none;: 
}

nav ul li a{
	display: block;
	color: #fff;
	background-color: #c0c0c0;
	padding: 0 20px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 50px;
   
}
nav ul li a:hover
 {
	background: #000000;
}

.active{
	background: #000000;
}

.butn{
	background: linear-gradient(-45deg,#23A6D5,#23D5AB);
	color: #ffffff;
	width: 300px;
	height: 40px;
	border:5px ;
	
}

.butn:hover {
    box-shadow: 0 5px 20px -2px #ffffff;
    color: #000000;
    transition: 1s;
}

.my{
	text-align: center;
	margin-top:100px;
	text-decoration: none; 
}
.bhargav{
	padding-bottom:50px;
}

.grid{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	text-align: center;
	
}

 .btnn i{
    
     width: 70px;
     height: 70px;
     text-align: center;
     line-height: 70px;
     background: none;
     border-radius: 50%;
     font-size: 30px;
     transition: 0.5s;
}

.btnn::before i{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background: none;
	transition: 0.5s;
	transform: scale(0.9);
	
}

i:hover::before {
	transform: scale(1.1);
	box-shadow: 0 0 15px #ffee10;
}

i:hover {
	color: #ffee10;
	box-shadow: 0 0 6px #ffee10;
	text-shadow: 0 0 6px #ffee10;
}

.our{
	text-align: center;
	text-decoration: none;
	padding-top: 100px;
}

.our1{
	font-size: 50px;
}

.our2{
	font-size: 19px;
	margin-bottom: 150px;
}

.thebody{
	color:#fff;
	margin: 0;
	padding: 0;
	perspective: 1px;
	transform-style: preserve-3d;
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
}

.theheader{
	box-sizing: border-box;
	min-height: 100vh;
	padding: 25vw 0 5vw;
	position: relative;
	transform-style: inherit;
	width: 100vw;
}

.hone{
	font-size: 25px;
	color: #ffffff;
	background:rgba(0,0,0,0.2);
	border-width: 2px;
	font-family: "Luna";
}

.theheader .hone{
	margin-top: -100px;
}

.theheader , .theheader:before {
	background: 50% 50% / cover;
} 

.theheader::before {
	bottom: 0;
	content:"";
	left: 0;
	position: absolute; 
    right: 0;
    top: 0;
    box-shadow: 0 5px 20px -2px #000000;
    display: block;
    background-image: url(ni3.jpg);
    background-size: cover;
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    min-height: 100vh;
}

.theheader *{
	font-weight: normal;
	letter-spacing: 0.1em;
	text-align: center;
	margin: 0;
	padding: 1em 0;
	padding-top: -50px;
}

